############################# INTELLIJ ########################
.idea/
out/
.idea_modules/
### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721
*.iml
modules.xml
.idea/misc.xml
*.ipr
**.DS_Store

############################ GRADLE #############################
.gradle
build/
!gradle-wrapper.jar
**/build/