
#gridPane {
    /* -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 50, 0, 0, 0);*/
}

#Background {
    -fx-fill: #0c2d4a;
}

#Button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0, 0 0 9 0, 0 0 10 0;
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #d86e3a,
    radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    /* -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);*/
}

#Button:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #d86e3a,
    radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

#Button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#Button Text {
    -fx-fill: white;
    /* -fx-effect: dropshadow(gaussian, #a30000, 0, 0, 0, 2);*/
}

.root * {
    -fx-font-size: 35px;
    -fx-background-color: #0c2d4a;
}

#Line {
    -fx-stroke-width: 3;
    -fx-stroke: #ffffff;
}

#DropMenu .label {
    -fx-font-size: 10px;
}

#DropMenu .arrow-button {
    -fx-border-width: 0 0 0 5;
    -fx-border-color: #d01010;
}

#DropMenu {
    -fx-border-radius: 5px;
    -fx-text-fill: #4f5ba7;
    -fx-border-color: #d01010;
    -fx-border-width: 2;
}

#DropMenu .label {
    -fx-text-fill: #4f5ba7;
}

#DropMenu .menu-item:hover .label {
    -fx-text-fill: white;
}

#DropMenu .arrow-button .arrow {
    -fx-border-color: #d01010;
    -fx-border-width: 3px;
}

